body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding-top: 64px;
}
.App-header-title {
  flex: 1;
  text-align: left;
}
.App-intro {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.table-header th{
  border: 1px solid black;
  padding: 10px 20px;
  background: lightgray;

}
table{
  border-collapse: collapse;
}
.table-body td{
  padding: 10px 20px;
  border: 1px solid black;
}
.table-body tr:nth-child(2n){
  background: lightcyan;
}

ul li{
  list-style: none;
}
ul{
  padding-left: 0;
}
main{
  margin: 0 auto;
  padding-bottom: 20px;
}
.btn-default{
  background-color: lightgrey;
  padding: 15px 25px;
  text-transform: uppercase;
  display: flex;
  border: none;
  border-radius: 2px;
}
.btn-default:focus{
  outline: none;
}
.btn-default:hover{
  box-shadow: 1px 1px 9px 0 grey;
}
input{
  margin: 10px 0;
  border: 1px solid grey;
  padding: 10px;
}
.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  padding: 20px 50px;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addForm input{
  width: 200px;
}
.addForm .btn-default{
  margin-bottom: 0;
}
.greeting{
  margin: 0  auto;
}
.field-name{
  font-size: 18px;
  font-weight: 600;
}
.add-user-btn{
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
.filter-form{
  display: flex;
  margin-bottom: 20px;
}
.filter-form input{
  margin: 0 10px;
}
.filter-form select{
  padding: 5px;
}
/* user page styles*/
.user{
  margin: 0 auto;
  text-align: left;
}
.actionsWithUserBtns .btn-default{
  margin: 15px 5px;
  display: inline-block;
}
.remove-btn{
  margin-left: 25%;
}
.personal-user-info-block{
  padding: 17px 0;
}
/* edit user */
.user-edit-form{
  margin: 0 auto;
  text-align: left;
}
.user-edit-form input{
  border: 0;
}

.apply-changes-btn{
  margin: 15px 0;
}

/* aside bar */
.aside{
  padding: 20px;
}
.aside-link{
  padding: 10px;
  width: 100px;
}
.aside-link a{
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.aside-link a:hover{
  font-weight: 600;
}
