.App {
  text-align: center;
  padding-top: 64px;
}
.App-header-title {
  flex: 1;
  text-align: left;
}
.App-intro {
  display: flex;
  /*flex-direction: column;*/
  width: 85%;
  margin: 0 auto;
}

.table-header th{
  border: 1px solid black;
  padding: 10px 20px;
  background: lightgray;

}
table{
  border-collapse: collapse;
}
.table-body td{
  padding: 10px 20px;
  border: 1px solid black;
}
.table-body tr:nth-child(2n){
  background: lightcyan;
}
aside{
  position: fixed;
}
ul li{
  list-style: none;
}
ul{
  padding-left: 0;
}
main{
  margin: 0 auto;
}
.btn-default{
  margin-left: auto;
  margin-bottom: 40px;
  padding: 10px 15px;
  text-transform: uppercase;
  display: flex;
}
.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  padding: 20px 50px;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addForm input{
  width: 200px;
}
.addForm .btn-default{
  margin-bottom: 0;
}
input{
  margin: 10px 0;
  border: 1px solid grey;
  padding: 10px;
}
.greeting{
  margin-left: 40%;
}
.user{
  margin-left: 50%;
  margin-top: 20px;

}
.field-name{
  font-size: 18px;
  font-weight: 600;
}
.remove-btn{
  margin-left: 25%;
}
.filter-form{
  display: flex;
  margin-bottom: 20px;
}
.filter-form input{
  margin: 0 10px;
}
